.order {
  padding: 90px 0;
  background-image: url(../assets/images/order/order_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  // padding: 0 0 350px;
  // margin-bottom: -170px;

  &__container {
    position: relative;
    z-index: 1;
  }

  &__image {
    position: absolute;
    top: 0;
    right: calc(100% - 764px);
    z-index: -1;
  }

  &__form {
    max-width: 426px;
    margin: 0 102px 0 auto;
  }
}