.products {
  position: relative;
  padding: 90px 0;
  z-index: 1;
  
  &__decoration {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    &-background {
      position: sticky;
      top: 0;
      transform: translateY(-7.5%);
      max-width: 1470px;
      margin: 0 auto;
      padding-bottom: max(100%, 1470px);
      background-image: url(../assets/images/burgers/burgers_bg.png);
      background-size: 1470px 1470px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(384px, 1fr));
    gap: 24px;
  }
}