.why {
  padding: 90px 0;
  background-image: url(../assets/images/why/whybg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__list {
    display: grid;
    gap: calc(1 / 12 * 100%);
    grid-template-columns: repeat(auto-fill, 312px);
    justify-content: center;
  }
}