$bg-main: #191411;
$text-main: #fff;
$accent-main: #E2B438;
$accent-alt: #DA8023;
$accent-main-hover: #9e7a19;
$accent-alt-hover: #ac6115;
$prime: #D3320F;
$trans: #fff0;
$card: #211A16;
$card-border: #353535;
$text-alt: #757575;

$linear-accent: linear-gradient(135deg, $accent-alt 0%, $accent-main 100%);
$linear-hover: linear-gradient(95.61deg, $accent-alt-hover 0%, $accent-main-hover 100%);
