@font-face {
	font-family: 'Gilroy Semibold';
	src: url('./assets/fonts/Gilroy/Gilroy-Semibold.eot');
	src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
		url('./assets/fonts/Gilroy/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/Gilroy/Gilroy-Semibold.woff') format('woff'),
		url('./assets/fonts/Gilroy/Gilroy-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy Light';
	src: url('./assets/fonts/Gilroy/Gilroy-Light.eot');
	src: local('Gilroy Light'), local('Gilroy-Light'),
		url('./assets/fonts/Gilroy/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/Gilroy/Gilroy-Light.woff') format('woff'),
		url('./assets/fonts/Gilroy/Gilroy-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Merriweather Black';
	src: url('./assets/fonts/Merriweather/Merriweather-Black.eot');
	src: local('Merriweather Black'), local('Merriweather-Black'),
		url('./assets/fonts/Merriweather/Merriweather-Black.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/Merriweather/Merriweather-Black.woff') format('woff'),
		url('./assets/fonts/Merriweather/Merriweather-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@mixin gil3 {
	font-family: 'Gilroy Light', sans-serif;
}

@mixin gil6 {
	font-family: 'Gilroy Semibold', sans-serif;
}

@mixin mer9 {
	font-family: 'Merriweather Black', sans-serif;
}
